.banner
    .banner__img-left
    .banner__info
        .banner__info-title BONUS #[span 100%] #[br] PÂNĂ LA #[span 1000 LEI]
        ul.banner__info-list
            li.banner__info-item 100 DE LEI PARIU #[br] FĂRĂ RISC
            li.banner__info-item
                img(src='img/plus.svg' alt='plus')
            li.banner__info-item 100 ROTIRI #[br] GRATUITE
        a(href='https://www.favbet.ro/ro/promo/new_welcome/').banner__info-btn Plasează un pariu
    .banner__img-right
    .banner__marquee
        ul.banner__marquee-list
            li.banner__marquee-item 100 DE LEI PARIU #[br] FĂRĂ RISC
            li.banner__marquee-item
                img(src='img/plus.svg' alt='plus')
            li.banner__marquee-item 100 ROTIRI #[br] GRATUITE
        .banner__marquee-fav
        ul.banner__marquee-list
            li.banner__marquee-item 100 DE LEI PARIU #[br] FĂRĂ RISC
            li.banner__marquee-item
                img(src='img/plus.svg' alt='plus')
            li.banner__marquee-item 100 ROTIRI #[br] GRATUITE
        .banner__marquee-fav
        ul.banner__marquee-list
            li.banner__marquee-item 100 DE LEI PARIU #[br] FĂRĂ RISC
            li.banner__marquee-item
                img(src='img/plus.svg' alt='plus')
            li.banner__marquee-item 100 ROTIRI #[br] GRATUITE
        .banner__marquee-fav
        ul.banner__marquee-list
            li.banner__marquee-item 100 DE LEI PARIU #[br] FĂRĂ RISC
            li.banner__marquee-item
                img(src='img/plus.svg' alt='plus')
            li.banner__marquee-item 100 ROTIRI #[br] GRATUITE
        .banner__marquee-fav
        ul.banner__marquee-list
            li.banner__marquee-item 100 DE LEI PARIU #[br] FĂRĂ RISC
            li.banner__marquee-item
                img(src='img/plus.svg' alt='plus')
            li.banner__marquee-item 100 ROTIRI #[br] GRATUITE
        .banner__marquee-fav
        ul.banner__marquee-list
            li.banner__marquee-item 100 DE LEI PARIU #[br] FĂRĂ RISC
            li.banner__marquee-item
                img(src='img/plus.svg' alt='plus')
            li.banner__marquee-item 100 ROTIRI #[br] GRATUITE
        .banner__marquee-fav




